
{% extends "/shared/_layout.html" %}
{% block content %}
<div class="container-inner text-center ">
  <div class="row row-content" style="width: 600px">
    <div style="padding:20px;">
      <div class="panel">
        <p><strong>Address:</strong>  #4 Plant,DaLing Industrial Area,Torch Development Zone,Zhongshan City,Guangdong Province,China</p>
        <p><strong>Email:</strong>  sales@gstarpak.com</p>
        <p><strong>PostCode:</strong>  528437</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}