{% extends "/shared/_layout.html" %}
{% block content %}
<div class="container-inner">
<div class="medium-3 large-3 columns"><p></p></div>
<div class="medium-6 large-6 columns">
  <div class="row-content" >
    <div style="padding:20px;">
      <div class="panel">
        <p><strong>Address:</strong>  #4 Plant,DaLing Industrial Area,Torch Development Zone,Zhongshan City,Guangdong Province,China</p>
        <p><strong>Email:</strong>  sales@gstarpak.com</p>
        <p><strong>PostCode:</strong>  528437</p>
      </div>
    </div>
  </div>
</div>
<div class="medium-3 large-3 columns"><p></p></div>
</div>
{% endblock %}