.row {
    max-width: 100rem;
}
.row-content{
    max-width: 40rem;
}
.foot-copy{
    font-size:10px;
}
.container-inner{
    min-height: 43rem;
    min-width: 100rem;
    padding-top: 1.25rem;

}
.pricing-table .bullet-item {
    padding: 0.4rem;
}
.top-bar {
    background: #96b97d
}
.top-bar-section
li:not(.has-form) a:not(.button) {
    background: #96b97d
}
.panel {
    background: #f9f9f9
}